*{
    box-sizing: border-box;
}

@font-face {
    font-family: poppins;
    src: url('../fonts/Poppins-Medium.ttf');
  }

html, body{
    font-family: poppins;
    margin: 0px;
    padding: 0px;
}

#root{
    width: 100%;
    min-height: 700px;
    background-size: 100%;
    background-image: url('../img/note.jpg');
}

.cover{
    width: 100%;
    min-height: 700px;
    background-color: rgba(1,1,1,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-group{
    min-width: 500px;
}

.tittle{
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.first-text{
    color: white;
}

.second-text{
    color: white;
}

.button-group{
    text-align: center;
    min-width: 500px;
}

.btn.sign-in{
    border: 0px;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    background-color: rgb(96, 96, 155);
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    margin-top: 40px;

}
